$primary: #ffba4e;
$secondary: #333;
$background: #191919;
$backdrop: #0a0a0a;
$text: #eee;
$border: #444;
$shadow: #eeeeee;
$success: #43a047;

html,
body {
	background: $backdrop;
}

.MuiInputBase-input:-webkit-autofill,
.MuiInputBase-input:-webkit-autofill:focus,
.MuiInputBase-input:-webkit-autofill:hover {
	transition-delay: 9999s; /* предотвращает мерцание */
	box-shadow: none !important;
	background-color: transparent !important;
	color: inherit !important;
}

/* Для Firefox */
.MuiInputBase-input:-moz-autofill,
.MuiInputBase-input:-moz-autofill:focus,
.MuiInputBase-input:-moz-autofill:hover {
	background-color: transparent !important;
	color: inherit !important;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.page {
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 40px;
	min-height: 100vh;
}

.header,
.footer {
	background-color: $background;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
	height: 100%;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.vh-100 {
	min-height: 100vh;
}

.title {
	font-size: 2rem;
	& strong {
		color: $primary;
	}
}

.subtitle {
	font-size: 1rem;
}

.left,
.right {
	flex: 0.5;
}

.left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.right {
	display: flex;
	justify-content: flex-end;
}

.phone-container {
	width: 340px;
	height: 680px;
	overflow: hidden;
	border-radius: 60px 60px 0 0;
	position: relative;
	box-shadow: 0px -20px 40px $secondary;
}

.phone-image {
	position: relative;
	z-index: 1;
}

.video {
	position: absolute;
	left: 5%;
	top: 20px;
	object-fit: contain;
	width: 90%;
	height: 100%;
}

.req__btn {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 320px;
	height: 55px;
	border-radius: 10px;
	background-color: $primary;
	color: $backdrop;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;

	& a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: inherit;
	}
}

.outlined {
	border: 1px solid $primary;
	padding: 10px 20px;
	border-radius: 4px;
}

.baseIdeasList {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	margin: 0 auto;
	padding-block: 0 20px;
}

.cardItem {
	background-color: $secondary !important;
	color: $text !important;
}

.pagination {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	border: 1px solid #282828;
}

.form {
	margin: 0 auto;
	width: 400px;
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.adminCard {
	background: linear-gradient(135deg, #acacac 0%, #e2e2e2 50%, #acacac 100%);
	padding: 30px;
	border-radius: 6px;
}

@media (min-width: 1024px) {
	.title {
		font-size: 4rem;
	}

	.subtitle {
		font-size: 1.4rem;
	}

	.baseIdeasList {
		grid-template-columns: repeat(2, 1fr);
		height: 100%;
	}
}

@media (min-width: 1400px) {
	.baseIdeasList {
		grid-template-columns: repeat(3, 1fr);
	}
}
