@use '@/styles/_variables' as *;

.emogi {
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	& button {
		font-size: 24px;
		padding: 2px;
		border-radius: 4px;

		&:hover {
			background: $secondary;
		}
	}
}

@media (min-width: 780px) {
	.emogi {
		justify-content: space-between;
		& button {
			font-size: 34px;
		}
	}
}
